.btn-open-chat {
    width: 60px;
    height: 60px;
    background-color: #242428;
    border-radius: 100%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-image: url('../images/chat_button.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 5px 0 rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;

    .chat-counter {
        position: absolute;
        right: -5px;
        top: -7px;
        background: #ee0c39;
        width: 23px;
        height: 23px;
        line-height: 23px;
        font-style: normal;
        border-radius: 100%;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
}


.btn {
    display: block;
    font-size: 1.4rem;

    //Designed Components  
    &--round {
        border-radius: 4rem;
        padding: 4px 23px
    }

    &--round-s {
        border-radius: 5px;
        padding: 4px 23px
    }

    &--round-b {
        border-radius: 55px;
    }

    &--black {
        background: #333;
        color: #ffff;
    }

    &--blue {
        background: var(--primary-blue);
        color: #ffff;
    }

    &--red {
        background: var(--primary-red);
        color: #ffff;
    }

    &--lgray {
        background: #e5e5e5;
        color: #333;
    }

    &--white {
        background: #fff;
        color: #333;
        text-align: center;
    }

    //Control
    &-prev--arrow {
        width: 24px;
        height: 24px;
        background: url('../images/ic_prev.svg') no-repeat center
    }

    &-search {
        width: 24px;
        height: 24px;
        background: url('../images/ic_search.svg') no-repeat center;
    }

    &-prd-list {
        background: transparent;
        color: #333333;
        border-radius: 55px;
        width: 225px;
        height: 53px;
        line-height: 55px;
        text-align: center;
        display: block;
        margin-top: 5rem;
        @include push--auto;
        border: 1px solid #333;

    }

    &-login {
        background: #00b7f1;
        color: #fff;
        width: 100%;
        margin-top: 3rem;
        border-radius: 55px;
        height: 55px;
        font-weight: 500;
        font-size: 1.8rem;
    }

    &-confirm {
        width: 100%;
        height: 55px;
        line-height: 55px;
        margin-top: 3rem;
        opacity: 0.35;

        &.is-active {
            opacity: 1;
        }
    }

    &-signup {
        width: 400px;
        padding: 23px 20px;
        @include push--auto;
        display: block;
        margin-top: 6rem;
        font-size: 1.8rem;
    }

    &-mute-alert {
        width: 17px;
        height: 17px;
        display: inline-block;
        vertical-align: top;
        margin-top: -1px;
        position: relative;
        border: 0;
        padding: 0;
        margin-left: 3px;
        cursor: pointer;
        background-color: transparent;

        &::after {
            @include sprite(16px, 17px, -259px, -46px);
        }

        &.is-mute {

            &::after {
                @include sprite(16px, 17px, -222px, -46px);
            }
        }
    }

    &-share {
        font-size: 14px;
        padding-left: 25px;
        line-height: 22px;
        height: 25px;

        &::before {
            @include sprite-static(17px, 21px, -145px, -49px);
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    @include mq('tablet-small') {
        &-signup {
            width: 100%;
            margin-top: 3rem
        }
    }
}