/*
    @@ COMMON UI 
*/
.dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 1;
    display: none;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: none;
    word-break: keep-all;

    &--standard {
        .modal__container {
            text-align: center;
            line-height: 1.8;
            min-width: 340px;
            padding: 6rem 4rem 3rem 4rem;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 2.4rem
    }

    &--login &__container {
        width: 510px;
    }


    &--agreement &__container {
        width: 570px;
    }

    &--rules &__container {
        width: 540px;
        padding: 4rem 4rem 4rem 4rem;

        .mCSB_inside>.mCSB_container {
            margin-right: 20px;
        }
    }

    &--complete &__container {

        width: 500px;
        height: 520px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem 3rem;


        .logo {
            text-align: center;
        }

        .complete__text {
            text-align: center;
            padding-top: 4rem;

            strong {
                display: block;
                font-size: 2rem;
                font-weight: 500;
            }

            p {
                color: #000;
                margin-top: 20px;
                font-weight: 300;

            }
        }
    }

    &__container {
        background-color: #fff;
        border-radius: 10px;
        @include push--center;
        padding: 6rem 7rem 5rem 7rem;
        box-shadow: 7px 7px 20px rgba($color: #000000, $alpha: 0.15);
    }

    //textbox
    &__content {
        margin-top: 2rem;
        border: 1px solid #ddd;
        padding: 1.5rem;
        line-height: 1.6;
        color: #333;
        font-weight: 300;
        font-size: 14px;
        word-break: break-all;

        &--rule {
            height: 500px;
        }
    }

    .modal_title {
        width: 100%;
        font-size: 2rem;
        font-weight: 500;
    }

    .text {
        margin: 20px 0;
        color: #666;
    }

    @include mq('tablet-small') {

        //padding: 2rem;
        &__container {
            width: calc(100% - 3rem) !important;
        }
    }

    @include mq('phone-wide') {

        &__container {
            padding: 6rem 3rem 3rem 3rem;
        }
    }
}


//COMMON EQUIP SEARCH BOX
.ui-search-equip {
    @include push--auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    padding: 50px 50px 42px 50px;
    position: relative;
    //z-index: 100;
    flex-wrap: wrap;


    .btn-close-search {
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
        background: #484848;
        width: 50px;
        height: 50px;
        border-radius: 100%;

        &::after {
            @include sprite(14px, 14px, -150px, -225px)
        }
    }

    select,
    input,
    button {
        height: 50px;
        line-height: 50px;
        width: 100%;
        border: 0;

        border-radius: 4px;
    }

    select,
    input {
        padding-left: 20px;
    }

    select {
        appearance: none;
        color: #00b7f1;
        position: relative;
        background-color: #eeeded;
    }

    .search-select {
        width: 214px;
        position: relative;


        &--brand {
            width: 304px;
        }

    }

    .search-input {
        width: 360px;

        input {
            background: #eeeded;
        }
    }

    .go-search {
        width: 154px !important;
        background: #ff3333;
        color: #fff;
        padding: 0;
        overflow: hidden;

        span::before {
            content: '';
            @include sprite-static(17px, 17px, -187px, -153px);
            // background: url('../images/ic_search_white.svg') no-repeat center / 18px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            margin-top: -2px;
        }
    }

    @include mq('tablet-wide') {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        padding-top: 3rem;
        padding-bottom: 3rem;


        .search-select {
            width: 49% !important;
        }

        .search-input {
            width: calc(100% - 161px) !important;
            margin-top: 10px;
        }

        .go-search {
            margin-top: 10px;
        }
    }
}



.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .page-arrow {
        border: 1px solid #d2d2d2;
        margin: 0 5px;
        position: relative;

        &.page-first::before {
            @include sprite(13px, 10px, -147px, -300px)
        }

        &.page-prev::before {
            @include sprite(7px, 10px, -147px, -300px)
        }

        &.page-next::before {
            @include sprite(7px, 10px, -185px, -300px)
        }

        &.page-last::before {
            @include sprite(13px, 10px, -201px, -300px)
        }
    }

    >a {
        display: block;
        width: 40px;
        height: 40px;
        //background-color: #fff;
        font-size: 13px;
        line-height: 40px;
        text-align: center;
        color: #999;

        &.page-current {
            color: #00b7f1;
            text-decoration: underline;
            font-weight: 400;
        }

    }
}

.title01 {
    font-size: 3.2rem;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.title02 {
    font-size: 2.1rem;
    font-weight: 500;
    display: block;
    padding-bottom: 10px;

    >span {
        font-size: 1.4rem;
    }
}

.essential {
    color: var(--primary-red);
    vertical-align: top;
    display: inline-block;
    margin: 0 10px 0 2px;
    font-style: normal;
}

.title {
    &_lg {
        padding-bottom: 2rem;
        font-size: 2.2rem;
        font-weight: 500;

        &.center {
            text-align: center;
        }

        &+.first {
            padding-bottom: 2rem;
            color: #999;
            font-weight: 300;
        }


        &.mt {
            margin-top: 8rem;
        }

        &._insp {
            color: #dc2b2b;
        }
    }

    &_md {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 1.5rem;

        small {
            color: #999;
            font-size: 0.75em;
        }

        &.mt {
            margin-top: 8rem;
        }
    }
}

.title_wrap {
    display: flex;
    justify-content: space-between;
    align-self: center;

    &+.first {
        padding-bottom: 2rem;
        color: #999;
        font-weight: 300;

    }
}


.page-title {
    font-size: 4.8rem;
    font-weight: 500;
    padding-bottom: 2rem;

    @include mq('tablet-wide') {
        font-size: 3.5rem;
    }
}

.tb-type01 {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;

    table {
        font-size: 1.6rem;
        text-align: center;
        color: #000;
        width: 100%;
        table-layout: fixed;
        margin-top: -1px;

        th,
        td {
            padding: 17px 10px;

            word-break: break-all;

        }

        td {
            border-top: 1px solid #ddd;
            font-weight: 500;
            color: #000;
        }

        th {
            background: #b0b0b0;
            color: #fff;
            border-top: 1px solid #fff;
            font-weight: 500;
        }
    }

    .link {
        color: #0066ff;
    }
}


.tb-type02 {
    //border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    table {
        width: 100%;
        table-layout: fixed;
        font-size: 1.4rem;
        //   text-align: center;
    }

    thead>th {
        color: #000;
    }

    th {
        background: #f7f7f7;
        text-align: left;
        padding-left: 16px !important;
    }

    td {
        text-align: right;
    }



    tbody th,
    tbody td {
        border-top: 1px solid #ddd;
        padding: 15px 10px;
        font-weight: 500;
    }

    .amount {
        min-width: 130px;
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        font-style: 1.1em;
    }

    tfoot {


        th,
        td {
            background: #fffafa;
            border-top: 1px solid var(--orange);
            border-bottom: 1px solid var(--orange);
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 10px;
            font-weight: 500;
        }
    }
}

.cir_txt {
    border: 1px solid #000;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 18px;
    font-style: normal;
    border-radius: 100%;
    font-size: 0.85em;
    margin: 0 3px;
}


.find-user {
    text-align: right;
    font-size: 13px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #999;
}

.join-infobox {
    margin-top: 10rem;
    border-top: 1px solid #ddd;
    padding-top: 3rem;
    text-align: right;
    color: #999;
    font-size: 13px;

    a {
        color: #121212;
        font-weight: 500;
        margin-left: 4px;
        vertical-align: middle;
    }

    @include mq('tablet-small') {
        margin-top: 3rem
    }
}

.btn-close-modal {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 10px;
    top: 10px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;

    &::after {
        @include sprite(14px, 14px, -48px, -225px)
    }
}


.agreement {
    &__title {
        padding-bottom: 20px;

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
        }

        >p {
            margin-top: 10px;
            color: #999;
        }
    }

    &__agree-all {
        background: #f2f2f2;
        padding: 20px;
        border-radius: 4px;

        label {
            color: #000
        }
    }

    &-list {

        >li {
            padding-left: 20px;
            margin-top: 20px;
            position: relative;
            padding-right: 30px;
        }

        .check-box-round {
            display: inline-block;
        }

        .btn-show-sublist {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            width: 20px;
            height: 20px;

            &.is-active {
                &::after {
                    transform: translate(-50%, -50%) rotate(180deg)
                }
            }

            &::after {
                @include sprite-static(13px, 15px, -291px, -232px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(0deg);
                opacity: 0.8;
                transition: 0.3s;
            }
        }
    }

    &-sublist {
        margin-top: 20px;
        display: none;

        li {
            display: block;
            padding-left: 30px;
            margin-top: 5px;

            a {
                color: #777;
                font-size: 14px;
            }
        }
    }

}


.tab-link {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;

    >a {
        height: 48px;
        line-height: 48px;
        text-align: center;
        display: block;
        border-left: 1px solid #ddd;

        &:first-of-type {
            border-left: 0;
        }

        &.is-selected {
            background: #000;
            color: #fff;
        }
    }

    &--type2 {
        >a {
            width: 50%;
        }
    }

    &--type3 {
        >a {
            width: 33.333%;
        }
    }
}



.tui-datepicker {
    z-index: 10;
}

.tui-datepicker-input {
    height: 44px;
    line-height: 44px;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px !important;
        background: url('../images/ic_calendar.svg') no-repeat center center / 20px !important;
    }
}


.rate--navy {
    height: 32px;
    overflow: hidden;
    position: relative;
    letter-spacing: -10px;


    .star {
        width: 32px;
        height: 32px;
        display: inline-block;
        left: 0;
        top: 0;
        letter-spacing: 0;
        background: url('../images/review_write_rate_gray.png') no-repeat left top;
        background-size: auto 32px;
        margin-right: 10px;

        &.is-selected {
            background-image: url('../images/review_write_rate_navy.png');
        }
    }

    i {
        font-size: 12px;
        line-height: 11px;
        font-style: normal;
        padding-left: 5px;
        position: absolute;
        right: 0;
        top: 0;
        ;
    }
}

.list-dot {
    li {
        font-size: 1.4rem;
        line-height: 1.5;
        position: relative;
        padding-left: 12px;

        &::before {
            content: '';
            width: 2px;
            height: 2px;
            background: #aaa;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
}

.agree-box--gray {
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 3rem;
    text-align: center;

    .check-box {
        display: inline-block;
    }

    label {
        font-size: 1.8rem;
    }

    small {
        font-size: 1.6rem;
    }
}

.seller-infotxt {
    color: #666;
    line-height: 1.6;
    margin-top: 2rem
}

.btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    &.right {
        justify-content: flex-end;
    }

    .btn:not(:first-child) {
        margin-left: 4px;
    }
}

.btn {
    display: inline-block;
    padding: 3px 10px;
    min-width: 120px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 41px;
    height: 44px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
    }


    &_xsm {
        line-height: 25px;
        height: 25px;
        font-size: 12px;
        padding: 0 8px;
        min-width: initial;
    }

    &_sm {
        line-height: 35px;
        height: 35px;
        font-size: 14px;
        padding: 0 10px;
    }

    &_arrow {
        &::after {
            content: '';
            width: 6px;
            height: 6px;
            border: 1px solid #000;
            display: inline-block;
            ;
            vertical-align: middle;
            border-left: 0;
            border-bottom: 0;
            transform: rotate(45deg);
            margin-top: -4px;
            margin-left: 4px;
        }
    }

    &.block {
        display: block;
    }

    &_outline {
        border: 1px solid #000;
    }

    &_black {
        background: #000;
        color: #fff;
    }

    &_orange {
        background: var(--orange);
        color: #fff
    }

    &_bin {
        min-width: initial;
        width: 35px;
        height: 35px;
        border: 1px solid #000;
        background: url('../images/icon_bin.svg') no-repeat center
    }

    &_checkall {
        min-width: initial;
        height: 35px;
        line-height: 31px;
        border: 1px solid #000;

        &::before {
            content: '';

            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 4px;
            margin-top: -2px;

            background: url('../images/icon_check.svg') no-repeat center;
        }
    }
}

.list_dash>li {
    text-align: left;
    color: #000;
    position: relative;
    margin-top: 14px;
    padding-left: 12px;

    &:first-child {
        margin-top: 0;
    }

    &::before {
        content: "";
        width: 7px;
        height: 1px;
        background: #000;
        position: absolute;
        left: 0;
        top: 10px;
    }
}


//상태TEXT
.status_txt {
    //background: #333;
    color: #333;
    border-radius: 4px;
    max-width: 80px;
    //font-size: 13px;
    padding: 8px 10px;
    @include push--auto;

    &._gray {
        color: #999;
        background: #ddd;
    }

    &._orange {
        color: var(--orange);
        background: #fff;
        border: 1px solid var(--orange);
    }
}

.radiobox {
    padding-left: 28px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    user-select: none;
    line-height: 20px;

    input {
        position: absolute;
        opacity: 0;
        width: 0px !important;
        height: 0px !important;
        cursor: pointer;

        &:checked {
            &~.checkmark {
                background-color: #fff;

            }

            &~.checkmark:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        left: 0;
        border-radius: 50%;
        border: 1px solid var(--orange);
        width: 20px;
        height: 20px;
        top: 0;


        &::after {
            content: "";
            position: absolute;
            display: none;
            width: 10px;
            height: 10px;
            background: var(--orange);
            top: 4px;
            left: 4px;
            border-radius: 50%;
        }
    }


}

.form_wrap {
    border-top: 1px solid #000;
    //border-bottom:1px solid #000;

    legend {
        border-top: 1px solid #ddd;

        &.title_md {
            padding-top: 20px;
            padding-left: 20px;
            background: #f5fbff;
            width: 100%;
        }
    }

    .column {
        display: flex;
        border-top: 1px solid #ddd;
        align-items: flex-start;
        border-bottom: 1px solid #000;
        margin-bottom: -1px;

        @include mq('tablet') {
            flex-wrap: wrap;
        }


        .label {
            width: 20%;
            min-height: 44px;
            line-height: 1.6;
            padding: 14px 10px 14px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-weight: 500;
            align-self: stretch;

            @include mq('tablet') {
                width: 100%;
                background: transparent !important;
                align-self: auto;
                height: auto;
                padding: 10px 10px 10px 0;
            }

            >small {
                display: block;
                color: #999;
                width: 100%;
            }
        }

        .list_dash {
            font-size: 14px;
            margin-top: 10px;


            li {
                margin-top: 5px;
                color: #999;

                &::before {
                    top: 6px
                }
            }
        }


        .input_wrap {
            width: 80%;
            padding: 14px 10px;
            font-size: 14px;
            align-items: center;
            align-self: center;


            @include mq('tablet') {
                width: 100%;
                padding: 0 0 10px 0;

                &.input_flex {
                    flex-wrap: wrap;
                }
            }


            &.input_flex {
                display: flex;
                align-items: center;
            }

            &.input_flex_btn {
                flex-wrap: wrap;

                button {
                    margin-left: 6px;
                }

                .txt_help {
                    margin-top: 6px
                }
            }

            select,
            input {
                height: 44px;
                line-height: 44px;
                padding-left: 12px;
                border: 1px solid #ddd;
                border-radius: 4px;
                vertical-align: top;
            }

            select {
                padding-right: 25px;
            }

            input[type="file"] {
                position: absolute;
                width: 0;
                height: 0;
                padding: 0;
                overflow: hidden;
                border: 0;
            }


            &.full input {
                width: 100%;
            }

            &.mid input {
                width: 50%;
            }

            &.input_address {
                .input_wrap {
                    width: 100%;
                    padding: 3px 0;

                    input+input {
                        margin-top: 6px
                    }
                }
            }
        }
    }

    input,
    select,
    textarea {
        &:disabled {
            background: #f7f7f7;
            color: #999
        }

        &+.txt_help {
            margin-top: 7px;
            line-height: 1.5;
        }
    }
}

.tag {
    font-size: 13px;
    background: #999;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;

    &_pay {
        background: var(--orange);
    }
}

.filter_list {
    display: flex;
    align-items: center;


    &._right {
        justify-content: flex-end;
    }

    .input_wrap {
        margin-left: 4px;

        select {
            width: 100%;
            height: 44px;
            line-height: 44px;
            border-radius: 4px;
            min-width: 160px;
            padding-left: 10px;
        }

    }
}

.text_box {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 4px;
    color: #666;
    line-height: 1.55;
    font-size: 1.4rem;

    @include mq('tablet') {
        font-size: 12px;
    }

    &.gray {
        background: #f7f7f7
    }

    &.noline {
        border: 0
    }
}