.inputbox {
    position: relative;
    margin-top: 4px;

    input,
    select {
        border: 1px solid #DEE1E4;
        color: #999999;
        height: 55px;
        line-height: 55px;

        width: 100%;
        border-radius: 5px;
        padding: 0;
        padding-left: 15px;
        font-size: 1.4rem;

        &::placeholder {
            color: #999
        }
    }
}

.inputbox__label {
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    padding-bottom: 5px;
}

.inputbox__input {

    input {
        width: 100%;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        padding-left: 2rem;

        &::placeholder {
            font-size: 1.4rem;
            line-height: 1.4;
            letter-spacing: 0;
        }
    }
}

.inputbox__input {

    input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        padding-left: 2rem;

        &::placeholder {
            color: var(--gray-400);
            font-size: 1.4rem;
            line-height: 1.4;
            letter-spacing: 0;
        }
    }
}



/* Toggle Slide */
.toggle-slide {
    position: relative;
    padding-left: 45px;
    color: var(--gray-700);
    font-size: 1.2rem;
    line-height: 150%;
    padding-top: 2px;
    display: block;

    >input {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    .toggle-slide__checkmark {

        background: #ddd;
        width: 36px;
        height: 19px;
        display: block;
        border-radius: 36px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;

        &::after {
            content: '';
            width: 13px;
            height: 13px;
            background: #fff;
            border-radius: 100%;
            position: absolute;
            left: 3px;
            top: 3px;
            transition: 0.5s;
        }
    }

    //checked 
    input[type="checkbox"]:checked+.toggle-slide__checkmark {
        background: var(--blue-500);

        &::after {
            left: 20px;
        }
    }
}



.ic-visibility {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 15px;
    top: 0;
    background: transparent;
    padding: 0;
    padding-left: 15px;
    font-size: 12px;

    &::after {
        @include sprite-static(12px, 8px, -184px, -124px);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -4px;
        ;

    }
}