.inputbox__label {
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    color: var(--gray-700);
    padding-bottom: 5px;
}

.inputbox__input {

    input {
        width: 100%;
        border: 1px solid var(--gray-200);
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        padding-left: 2rem;

        &::placeholder {
            color: var(--gray-400);
            font-size: 1.4rem;
            line-height: 1.4;
            letter-spacing: 0;
        }
    }
}



/* Toggle Slide */
.toggle-slide {
    position: relative;
    padding-left: 45px;
    color: var(--gray-700);
    font-size: 1.2rem;
    line-height: 150%;
    padding-top: 2px;
    display: block;

    >input {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    .toggle-slide__checkmark {

        background: var(--gray-200);
        width: 36px;
        height: 19px;
        display: block;
        border-radius: 36px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;

        &::after {
            content: '';
            width: 13px;
            height: 13px;
            background: #fff;
            border-radius: 100%;
            position: absolute;
            left: 3px;
            top: 3px;
            transition: 0.5s;
        }
    }

    //checked 
    input[type="checkbox"]:checked+.toggle-slide__checkmark {
        background: var(--blue-500);

        &::after {
            left: 20px;
        }
    }
}




////table 
.tb-type01 {
    table {
        width: 100%;
        table-layout: fixed;
        font-size: 1.4rem;
        color: #fff;
        letter-spacing: -0.05em;


        th,
        td {
            padding: 15px 9px;
        }

        thead th {
            background: #AFD1E0;
            color: #326D8F;
            font-weight: 700;
        }

        tbody {
            color: #fff;

            td,
            th {
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
                padding: 15px 7px;
            }

            b {
                font-weight: 700;
            }
        }
    }
}