.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 360px;
    height: 88px;
    border-bottom: 2px solid #0094d9;
    z-index: 2000;

    &__logo {
        //padding-top: 18px;
        padding-left: 50px;
        display: flex;
        align-items: center;
    }

    &__lang {
        position: relative;
        width: 32px;
        height: 22px;
        margin-left: 5px;
        font-size: 10px;

        &::before{
            @include sprite(21px, 21px, -62px,  -53px)
        }

        span {
            position: absolute;
            bottom: -4px;
            left: 19px;
            background: #fff;
            padding: 1px;
            font-weight: 700;
        }
    }

    &__search-equip {
        padding-top: 8px;

        a {
            color: #0094d9;
            position: relative;
            padding-left: 40px;

            font-size: 1.9rem;

            display: block;

            span {
                border-bottom: 1px solid #0094d9;
                display: inline-block;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -6px;

                @include sprite-static(33px, 33px, -10px, -10px); 
                
            }
        }
    }

    &__nav {
        //margin-right: 385px;

        li {
            display: inline-block;
        }

        a {
            font-size: 1.8rem;
            display: block;
            padding: 0 22px;
            padding-top: 4px;

            &:hover {
                color: #003399;
            }
        }
    }

    &__user {
        // position: absolute;
        // right: 50px;
        // top: 0;
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 120px;

        &__name {
            strong {
                border-bottom: 1px solid #003399;
                color: #003399;
                font-weight: 500;
            }
        }

        &__quick-btn {
            width: 35px;
            height: 35px;
            //background: url('../images/ic_notify_2.svg') no-repeat center / 43px;
            margin-left: 10px;
            position: relative;
            cursor: pointer;
            background-color: transparent;

            &::before{
                @include sprite(25px, 33px, -10px, -62px);
            }

            .quick-count {
                position: absolute;
                background: #ff3333;
                color: #fff;
                width: 20px;
                height: 20px;
                right: -7px;
                bottom: -2px;
                border-radius: 100%;
                font-size: 10px;
                line-height: 20px;
                text-align: center;
            }
        }
    }

    &__quick-container {
        display: none;
        position: absolute;
        top: 50px;
        left: -33px;
        width: 255px;
        background: #fff;
        border: 1px solid #d2d2d7;


        &::before {
            content: '';
            width: 16px;
            height: 8px;
            background: url('../images/quick_triangle.png') no-repeat center;
            position: absolute;
            top: -8px;
            left: 50%;
            margin-left: -8px;
        }

        &.js-open {
            display: block;
        }



    }

    &__quick-status {
        font-size: 14.5px;
        line-height: 1.5;
        padding-top: 24px;
        padding-left: 32px;
        padding-right: 30px;

        strong {
            font-weight: 500;
            color: #ff3333;
            border-bottom: 1px solid #ff3333;
        }
    }

    &__quick-list {
        padding: 10px 20px 0 20px;

    }

    &__quick-item {
        font-size: 14.5px;
        border-bottom: 1px solid #ddd;

        &:last-of-type {
            border-bottom: 0;
        }

        a {
            color: #000000;
            padding: 14px 10px 14px 40px;
            display: block;
            position: relative;

            &:hover {
                color: #0094d9
            }

            &::before {
                content: '';
                transform: none;
                left: 14px;
                top: 12px; 
                position: absolute;
            }

            strong {
                font-weight: 500;
                color: #ff3333;
            }
        }

        &--meditalk a::before {
            @include sprite-static(18px, 18px, -10px, -153px);           
        }

        &--mycart a::before {
            @include sprite-static(18px, 18px, -184px , -48px);
        }

        &--buy a::before {
            @include sprite-static(18px, 18px, -128px ,-115px);
        }

        &--sales a::before {
            @include sprite-static(18px, 18px, -48px ,-153px);
        }

        &--calculate a::before {
            @include sprite-static(18px, 18px, -184px ,-10px);
        }

        &--curation a::before {
           @include sprite-static(18px, 18px, -184px, -86px);
        }

        &--mystore a::before {
            @include sprite-static(18px, 18px, -86px ,-153px);
        }

        &--account a::before {
            @include sprite-static(18px, 18px, -90px ,-115px);
        }
    }

    &__btn-menu {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        //background: url('../images/ic_menu_index.svg') no-repeat center;

        &::after{
            @include sprite(20px, 18px, -50px ,-115px)
        }
    }


}

@include mq('custom15') {
    .header__nav a {
        font-size: 1.6rem;
    }

    .header__search-equip a {
        font-size: 1.6rem
    }
}

@include mq('custom14') {

    .header {
        &__logo {
            padding-left: 2rem;

            img {
                max-width: 80px;
            }
        }


        &__search-equip {
            a {
                font-size: 1.7rem;
            }
        }

        &__nav {
            a {
                font-size: 1.6rem;
                padding: 0 15px;
            }
        }

        &__user {
            padding-right: 2rem;
        }
        &__quick-container {
            left: -130px;

            &::before{
                margin-left: 70px;
            }
        }
    }
}

@include mq('custom12') {

    .header {
        &__logo {
            padding-left: 2rem;

            img {
                max-width: 80px;
            }
        }


        &__search-equip {
           display: none;
        }


        &__user {
            padding-right: 0;
            margin-right: -20px;

            &__name {
                font-size: 15px;
            }

            &__quick-btn {
                margin-left: 0;
            }
        }

        &__btn-menu {
            display: block;
            margin-right: 1rem;
        }
    }
}



@include mq('tablet-wide') {

    .header {
        height: 70px;

        &__logo {
            padding-left: 2rem;

            img {
                max-width: 80px;
            }
        }


        &__lang {
            margin-left: 0;
        }

        &__search-equip {
            a {
                font-size: 1.7rem;
            }
        }

        &__nav {
            display: none;
        }

        &__user {
            padding-right: 0;
            position: absolute;
            right: 78px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.mobile-menu {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    display: none;
    //display: block;

    .container {
        width: 300px;
        background: #fff;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;

        .logo-m {
            text-align: center;
            border-bottom: 1px solid #d2d2d2;
            display: block;
            padding: 0.8em 1em;

            img {
                height: 50px;
            }
        }

        .menulist {
            li {
                border-bottom: 1px solid #d2d2d2;

                a {
                    display: block;
                    padding: 1em;
                    background: #f7f7f7;
                    transition: 0.3s;

                    &:hover {
                        color: #003399;
                        font-weight: bold;
                        background: #e2e2e2;
                    }
                }
            }
        }

        .login-menu {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 10px;
            padding-left: 10px;

            li {
                width: 50%;
                padding-left: 10px;
                position: relative;

                &::before {
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: #000;
                    position: absolute;
                    left: 10px;
                    top: 14px;
                }

                a {
                    display: block;
                    padding: 0.2em;
                    width: 100%;
                    font-size: 0.9em;
                    padding: 0.5em 1em;
                }
            }
        }

        .lang {
            background: #f7f7f7;

            font-weight: bold;
            position: relative;

            >p {
                padding: 20px 10px 13px 10px;
                border-bottom: 1px solid #d2d2d2;
            }

            .lang-sel {
                display: none;
                padding-top: 5px;
                padding-left: 10px;

                li {
                    text-transform: uppercase;
                    font-size: 0.9em;

                    a {
                        padding: 0.5em 0;
                        display: block;
                    }
                }
            }

            
        }

        .m-contact {
            background: #003399;
            color: #fff;
            padding: 1em;

            .icm-call {
                font-size: 18px;
                margin-top: -4px;

                vertical-align: middle;
                display: inline-block;
            }

            .icm-call .path1:before {
                color: #fff;
            }

            .icm-call .path2:before {
                color: #003399;
            }
        }
    }
}