.mypage {
     padding: 18rem 0 10rem 0;
     max-width: 1180px;
     @include push--auto;
     height: 2000px;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     position: relative;


     &__title {
          font-size: 2.6rem;
          font-weight: 500;
          padding-bottom: 2rem;
     }

     &__nav {
          width: 180px;

          li {
               margin-top: 2rem;

               &.current {
                    color: #ff0000;
                    text-decoration: underline;
                    font-weight: 700;
               }
          }
     }

     &__container {
          width: calc(100% - 180px);
     }

     &__top-grade {
          display: flex;
          //align-items: center;
          justify-content: space-between;
     }

     .user-grade {
          p {
               &:first-child {
                    font-size: 2.6rem;
               }

               strong {
                    font-size: 3.7rem;
                    font-weight: 500;
               }

               &:nth-child(2) {
                    font-weight: 300;
                    font-size: 3rem;
                    margin-top:5px;
               }
          }
     }

     &__point {
          text-align: center;
          >strong {
               color: #666666;
               display: block;
               font-size: 1.5rem; 
               padding-bottom: 10px;
               font-weight: 300;
          }
          .point{
               font-size: 4.2rem;
          }
          .point-earn {
               margin-top: 8px; 
               background:#e5e5e5; font-size:13px; 
               border-radius: 20px; ;
               text-align: center;
               padding: 7px 30px;
          }
     }


     .purchase-status{
           margin-top:7rem;
           border-top: 4px solid #000;
           padding-top:6rem;
     }
     


}