.bg-ic_add {
    width: 14px;
    height: 14px;
    background: url('css_sprites.png') -259px -188px;
}

x .bg-ic_bell_header {
    width: 25px;
    height: 33px;
    background: url('css_sprites.png') -10px -62px;
}

x .bg-ic_bookmark {
    width: 21px;
    height: 23px;
    background: url('css_sprites.png') -62px -10px;
}

x .bg-ic_camera {
    width: 20px;
    height: 18px;
    background: url('css_sprites.png') -10px -115px;
}

x .bg-ic_chat_attach {
    width: 19px;
    height: 19px;
    background: url('css_sprites.png') -145px -10px;
}

x .bg-ic_chat_mute_o {
    width: 16px;
    height: 17px;
    background: url('css_sprites.png') -222px -47px;
}

x .bg-ic_chat_close {
    width: 14px;
    height: 14px;
    background: url('css_sprites.png') -48px -225px;
}

x .bg-ic_chat_mute_x {
    width: 15px;
    height: 17px;
    background: url('css_sprites.png') -259px -46px;
}

x .bg-ic_chat_opt_alert {
    width: 16px;
    height: 16px;
    background: url('css_sprites.png') -222px -122px;
}

x .bg-ic_chat_opt_block {
    width: 16px;
    height: 16px;
    background: url('css_sprites.png') -259px -10px;
}

x .bg-ic_chat_opt_exit {
    width: 16px;
    height: 15px;
    background: url('css_sprites.png') -259px -83px;
}

x .bg-ic_chat_opt_report {
    width: 16px;
    height: 15px;
    background: url('css_sprites.png') -259px -118px;
}

x .bg-ic_chat_options {
    width: 18px;
    height: 14px;
    background: url('css_sprites.png') -10px -225px;
}

x .bg-ic_chat_smile {
    width: 17px;
    height: 17px;
    background: url('css_sprites.png') -124px -153px;
}

x .bg-ic_chat_send {
    width: 15px;
    height: 15px;
    background: url('css_sprites.png') -259px -153px;
}

x .bg-ic_check_mark_black {
    width: 9px;
    height: 7px;
    background: url('css_sprites.png') -295px -116px;
}

x .bg-ic_check_mark_red {
    width: 9px;
    height: 7px;
    background: url('css_sprites.png') -295px -143px;
}

x .bg-ic_check_mark_white {
    width: 10px;
    height: 7px;
    background: url('css_sprites.png') -103px -88px;
}

x .bg-ic_chev_down_skyblue {
    width: 11px;
    height: 6px;
    background: url('css_sprites.png') -153px -191px;
}

x .bg-ic_chev_left {
    width: 6px;
    height: 10px;
    background: url('css_sprites.png') -295px -170px;
}

x .bg-ic_chev_right {
    width: 6px;
    height: 10px;
    background: url('css_sprites.png') -295px -200px;
}

x .bg-ic_close_dark {
    width: 14px;
    height: 14px;
    background: url('css_sprites.png') -82px -225px;
}

x .bg-ic_close_search {
    width: 14px;
    height: 14px;
    background: url('css_sprites.png') -116px -225px;
}

x .bg-ic_close_white {
    width: 14px;
    height: 14px;
    background: url('css_sprites.png') -150px -225px;
}

x .bg-ic_detail_heart {
    width: 21px;
    height: 18px;
    background: url('css_sprites.png') -103px -50px;
}

x .bg-ic_detail_scope {
    width: 17px;
    height: 17px;
    background: url('css_sprites.png') -161px -153px;
}

x .bg-ic_globe {
    width: 21px;
    height: 21px;
    background: url('css_sprites.png') -62px -53px;
}

x .bg-ic_ham_header {
    width: 20px;
    height: 18px;
    background: url('css_sprites.png') -50px -115px;
}

x .bg-ic_like {
    width: 22px;
    height: 20px;
    background: url('css_sprites.png') -103px -10px;
}

x .bg-ic_nav_account {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -90px -115px;
}

x .bg-ic_nav_buy {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -128px -115px;
}

x .bg-ic_nav_calc {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -184px -10px;
}

x .bg-ic_nav_cart {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -184px -48px;
}

x .bg-ic_nav_curation {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -184px -86px;
}

x .bg-ic_nav_meditalk {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -10px -153px;
}

x .bg-ic_nav_sales {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -48px -153px;
}

x .bg-ic_nav_store {
    width: 18px;
    height: 18px;
    background: url('css_sprites.png') -86px -153px;
}

x .bg-ic_pw_shown {
    width: 12px;
    height: 8px;
    background: url('css_sprites.png') -184px -124px;
}

x .bg-ic_reset {
    width: 15px;
    height: 18px;
    background: url('css_sprites.png') -222px -84px;
}

x .bg-ic_search_equip {
    width: 32px;
    height: 32px;
    background: url('css_sprites.png') -10px -10px;
}

x .bg-ic_slide_pause {
    width: 10px;
    height: 12px;
    background: url('css_sprites.png') -123px -191px;
}

x .bg-ic_share {
    width: 17px;
    height: 21px;
    background: url('css_sprites.png') -145px -49px;
}

x .bg-ic_slide_play {
    width: 9px;
    height: 15px;
    background: url('css_sprites.png') -295px -46px;
}

x .bg-ic_sns_blog {
    width: 12px;
    height: 15px;
    background: url('css_sprites.png') -10px -259px;
}

x .bg-ic_sns_facebook {
    width: 9px;
    height: 16px;
    background: url('css_sprites.png') -295px -10px;
}

x .bg-ic_sns_insta {
    width: 17px;
    height: 17px;
    background: url('css_sprites.png') -222px -10px;
}

x .bg-ic_sns_kkostory {
    width: 8px;
    height: 15px;
    background: url('css_sprites.png') -295px -81px;
}

x .bg-ic_sns_youtube {
    width: 20px;
    height: 14px;
    background: url('css_sprites.png') -10px -191px;
}

x .bg-ic_sort {
    width: 20px;
    height: 13px;
    background: url('css_sprites.png') -50px -191px;
}

x .bg-star_line {
    width: 13px;
    height: 13px;
    background: url('css_sprites.png') -222px -158px;
}

x .bg-star_solid {
    width: 13px;
    height: 13px;
    background: url('css_sprites.png') -90px -191px;