/* COLOR */
:root {
  
     --primary-red : #fb0000;
     
     --primary-blue : #00b7f1;
     --primary-gray: #999;
     --navy : #003399;
     --orange: #ff6a1f; 
     
  }


  .col-red {
     color: var(--primary-red);
  }
  