@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'nomalize';
@import 'margin';



/* toggle password visibility */
// https://www.javascripttutorial.net/javascript-dom/javascript-toggle-password-visibility/


/* 
    .btn  button 버튼타입  
    .js-  javascript 이벤트 핸들링이 필요한 경우 (js-open.. ) 
    .is-  state (read/unread, active/inactive ...)  
*/


@import 'check';
@import 'button';
@import 'form';



body {
    margin: 16px 26px;
}


.chat {
    background: #fff;
    width: 400px;
    height: 748px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.2);
    position: fixed;
    z-index: 1000;

    &__header {
        position: absolute;
        width: 100%;

        .open-chat-option,
        .close-chat {
            z-index: 1001;
            top: 18px;
            position: absolute;
            width: 24px;
            height: 24px;
        }

        .open-chat-option {
            background: url('../images/ic_menu.svg') no-repeat center;
            right: 46px;
        }

        .close-chat {
            background: url('../images/ic_close.svg') no-repeat center;
            right: 18px;
        }
    }
}

.chat-product {
    background: #f0f2f5;
    padding: 3rem;
    text-align: center;
    position: relative;

    .btn{ display: inline-block;}

    &__thumb {
        position: relative;
        overflow: hidden;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        @include push--auto;

        >img {
            @include push--center;
            width: 100%;
            height: 100%;
        }
    }

    &__desc {
        color: #000;
        margin: 20px 0px 14px 0;

        .price {
            margin-top: 10px;
        }
    }
}

.chat__header--has-product{
     .chat-product{
          padding: 15px;display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: left; 

          &__thumb{
              width: 80px; height: 80px;   
              border-radius: 50%;
              @include push--auto;
              overflow: hidden;
      
              >img {
                  @include push--center;
                  width: 100%;
                  height: 100%;
              }
          }

          &__desc {
              width: calc(100% - 80px);
              padding-right: 40px; padding-left: 10px;
          }
     }   
}

.chat-list {
    padding: 25px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 18px
        }
    }

    //읽지 않은 상태 
    .is-unread {
        .chat-list__conv {
            color: #1876f2
        }

        .chat-list__state {
            i {
                display: block;
                background: #1876f2;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                @include push--auto;
            }
        }
    }

    &__thumb {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        >img {
            width: 100%;
            height: 100%;
            @include push--center;
        }
    }

    &__content {
        width: calc(100% - 95px);
        padding-left: 15px;
    }

    &__nickname {
        display: block;
        line-height: 16px;
    }

    &__conv {
        margin-top: 5px;
        font-size: 14px;
        display: flex;
        align-items: center;

        p {
            @include ellipsis(195px);
        }
    }

    &__date {
        color: #767676;
        padding-left: 5px
    }

    &__state {
        width: 45px;
        position: relative;
    }
}


.chat-search {
    display: flex;
    padding: 24px 24px 24px 24px;
    display: flex;
    align-items: center;


    .inputbox {
        position: relative;
        width: calc(100% - 24px);
        margin-left: 10px;

        &__input {
            border: 0;
            width: 100%;
            height: 35px;
            line-height: 35px;
            background-color: #E5E5E5;
            border-radius: 50px;
            height: 35px;
            padding-left: 45px;
        }

        .btn-search {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background-size: 20px;
        }
    }
}

.chat-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 1200;

    //temp 
    padding: 2rem;

    &__box {
        border-radius: 20px;
        background: #fff;
        @include push--center;
    }

    .btn-close-alert {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        background: url('../images/ic_close.svg') no-repeat center;
    }

    &__title {
        padding: 0 15px;

        h3 {
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0;
            text-align: center;
            padding: 22px 40px 21px 9px;
            border-bottom: 1px solid var(--gray-400);
        }

        &--warn {
            min-width: 510px;

            h3 {

                &::before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    background: url('../images/ic_warn.svg') no-repeat center / 14px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 7px;
                }
            }
        }
    }

    &__content {
        padding: 24px;
        font-size: 1.4rem;
        min-height: 220px;
        font-weight: 300;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

        .plain-text {
            line-height: 2;

            &:first-of-type {
                margin-top: 2rem;
            }
        }
    }

    .btn {
        width: 100%;
        margin-top: 24px;
        height: 35px;
        line-height: 1.5;
    }
}


.report-select {
    .report-select__list {
        margin-top: 25px;
        font-weight: 300;

        &:first-of-type {
            margin-top: 0;
        }
    }


    &-step2 {
        padding-left: 24px;

        .report-select__list {
            display: inline-block;
            margin-top: 10px;

            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
}



//chatting content (conversation)
.chat--content {

}