@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'nomalize';
@import 'margin';
@import 'chat';



/* toggle password visibility */
// https://www.javascripttutorial.net/javascript-dom/javascript-toggle-password-visibility/


/* 
    .btn  button 버튼타입  
    .js-  javascript 이벤트 핸들링이 필요한 경우 (js-open.. ) 
    .is-  state (read/unread, active/inactive ...)  
*/


@import 'check';
@import 'button';
@import 'form';
@import 'header';
@import 'main';
@import 'signup';







.inputbox__label {
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    padding-bottom: 5px;
}

.inputbox__input {

    input {
        width: 100%;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        padding-left: 2rem;

        &::placeholder {
            font-size: 1.4rem;
            line-height: 1.4;
            letter-spacing: 0;
        }
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
}


/* MODAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);

    &__title {
        font-weight: 500;
        font-size: 2.4rem
    }

    &--login &__container {
        width: 510px;
    }


    &--agreement &__container {
        width: 570px;
    }

    &--rules &__container {
        width: 540px;
        padding: 4rem 4rem 4rem 4rem;

        .mCSB_inside>.mCSB_container {
            margin-right: 20px;
        }

    }

    &--complete &__container {

        width: 500px; height: 520px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        padding: 6rem 3rem;

        
        .logo {
            text-align: center;
        }

        .complete__text {
            text-align: center;
            padding-top: 4rem;

            strong {
                display: block;
                font-size: 2rem;
                font-weight: 500;
            }

            p {
                color: #000;
                margin-top: 20px;
                font-weight: 300;

            }
        }
    }

    &__container {
        background-color: #fff;
        border-radius: 10px;
        @include push--center;
        padding: 6rem 7rem 5rem 7rem;
        box-shadow: 7px 7px 20px rgba($color: #000000, $alpha: 0.15);
    }

    //textbox
    &__content {
        margin-top: 2rem;
        border: 1px solid #ddd;
        padding: 1.5rem;
        line-height: 1.6;
        color: #333;
        font-weight: 300;
        font-size: 14px;
        word-break: break-all;

        &--rule {
            height: 500px;
        }
    }

    @include mq('tablet-small') {

        //padding: 2rem;
        &__container {
            width: calc(100% - 3rem) !important;
        }
    }

    @include mq('phone-wide') {

        &__container {
            padding: 6rem 3rem 3rem 3rem;
        }
    }
}

.inputbox {
    position: relative;
    margin-top: 4px;

    input,
    select {
        border: 1px solid #DEE1E4;
        color: #999999;
        height: 55px;
        line-height: 55px;

        width: 100%;
        border-radius: 5px;
        padding: 0;
        padding-left: 15px;
        font-size: 14px;

        &::placeholder {
            color: #999
        }
    }
}

.ic-visibility {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 15px;
    top: 0;
    background: transparent;
    padding: 0;
    padding-left: 15px;
    font-size: 12px;

    &::after {
        @include sprite-static(12px, 8px, -184px, -124px);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -4px;
        ;

    }
}

.inputbox__label {
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    padding-bottom: 5px;
}

.find-user {
    text-align: right;
    font-size: 13px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #999;
}

.join-infobox {
    margin-top: 10rem;
    border-top: 1px solid #ddd;
    padding-top: 3rem;
    text-align: right;
    color: #999;
    font-size: 13px;

    a {
        color: #121212;
        font-weight: 500;
        margin-left: 4px;
        vertical-align: middle;
    }

    @include mq('tablet-small') {
        margin-top: 3rem
    }
}

.btn-close-modal {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 10px;
    top: 10px;

    &::after {
        @include sprite(14px, 14px, -48px, -225px)
    }
}

.inputbox__input {

    input {
        width: 100%;
        border-radius: 8px;
        height: 50px;
        line-height: 50px;
        padding-left: 2rem;

        &::placeholder {
            font-size: 1.4rem;
            line-height: 1.4;
            letter-spacing: 0;
        }
    }
}

.agreement {
    &__title {
        padding-bottom: 20px;

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
        }

        >p {
            margin-top: 10px;
            color: #999;
        }
    }

    &__agree-all {
        background: #f2f2f2;
        padding: 20px;
        border-radius: 5px;

        label{
            color:#000
        }
    }

    &-list {

        >li {
            padding-left: 20px;
            margin-top: 20px;
            position: relative;
            padding-right: 30px;
        }

        .check-box-round {
            display: inline-block;
        }

        .btn-show-sublist {
            position: absolute;
            right: 0;
            top: 0;
            background-color: transparent;
            width: 20px;
            height: 20px;

            &.is-active {
                &::after {
                    transform: translate(-50%, -50%) rotate(180deg)
                }
            }

            &::after {
                @include sprite-static(13px, 15px, -291px, -232px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(0deg);
                opacity: 0.8;
                transition: 0.3s;
            }
        }
    }

    &-sublist {
        margin-top: 20px;
        ;
        display: none;

        li {
            display: block;
            padding-left: 30px;
            margin-top: 5px;

            a {
                color: #777;
                font-size: 14px;
            }
        }
    }

}

.btn-login {
    background: #00b7f1;
    color: #fff;
    width: 100%;
    margin-top: 3rem;
    border-radius: 55px;
    height: 55px;
    font-weight: 500;
    font-size: 1.8rem;
}

.btn-confirm {
    width: 100%;
    height: 55px;
    line-height: 55px;
    margin-top: 3rem;
    opacity: 0.35;

    &.is-active {
         opacity: 1;
    }
}

